<template>
  <div>
    <div class="grid">
      <v-podcast v-for="podcast in podcasts" :podcast="podcast" :key="podcast.id.attributes['im:id']"></v-podcast>
    </div>
  </div>
</template>

<script>
  import Podcast from './components/PodcastItem';
  import {mapState} from 'vuex'

  export default {
    components: {
      'v-podcast': Podcast
    },
    name: "postcasts",
    created() {
      this.$store.dispatch('podcasts/getAllPodcasts')
    },
    computed: mapState({
      podcasts: state => state.podcasts.filtered
    })
  }
</script>

<style lang="scss" scoped>
  .grid {
    display: grid;
    width: 100%;
    justify-content: center;
    grid-row-gap: 10px;
    grid-template-columns: repeat(auto-fit, 370px);
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }

</style>
