<template>
  <footer>
    <div class="footer"></div>
    <div class="sofia">
      <p id="final">Sofía Magistrelli <br> 04/01/2019 <br>"Prueba técnicas SDG"</p>
    </div>
    <div class="hero" id="home-scroll-down">
      <svg class="mouse" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 130" preserveAspectRatio="xMidYMid meet">
        <g fill="none" fill-rule="evenodd">
          <rect width="70" height="118" x="1.5" y="1.5" stroke="#FFF" stroke-width="3" rx="36"/>
          <circle class="scroll" cx="36.5" cy="31.5" r="4.5" fill="#FFF"/>
        </g>
      </svg>
    </div>
  </footer>
</template>

<script>
  export default {
    name: "Footer"
  }
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Mandali');

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    text-align: center;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  svg {
    vertical-align: middle;
  }

  .hero {
    position: fixed;
    top: 77%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12rem 2rem;
    color: white;
  }

  .mouse {
    vertical-align: middle;
    max-width: 2.5rem;
    width: 100%;
    height: auto;
  }

  .scroll {
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
    animation-iteration-count: infinite;
    transform-origin: 50% 20.5px;
    will-change: transform, opacity;
    opacity: 1;
  }

  @keyframes scroll {
    0%, 20% {
      transform: translateY(0) scaleY(1);
    }

    100% {
      transform: translateY(36px) scaleY(2);
      opacity: 0;
    }
  }

  .sofia {
    position: fixed;
    font-family: "Mandali";
    color: yellow;
    font-size: 18px;
    top: 93%;
    left: 0;
    width: 100%;
    height: 90px;
    text-align: justify;

  }
</style>
