<template>
  <header>
    <div class="wrapper">
      <div class="header"></div>
      <div class="buscador">
        <input type="text" v-model="query"
               v-bind:placeholder="$t('podcasts.finder.placeholder')"/>
        <div class="search"></div>
      </div>
      <div class="resultados">RESULTADOS: {{filteredPodcasts.length}}</div>
      <div class="usuario"><u href='#'>&#xe903;</u></div>
      <div class="Singin">Sing in</div>
    </div>
  </header>
</template>

<script>
  export default {
    h: "header",
    name: "podcast-search",
    data() {
      return {query: ''}
    },
    computed: {
      loading() {
        return this.$store.getters['loading'];
      },
      filteredPodcasts() {
        this.$store.dispatch('podcasts/search', {queryString: this.query})
        return this.$store.getters['podcasts/getFilteredPodcasts'];
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import url('https://fonts.googleapis.com/css?family=Mandali');

@font-face{
  font-family:'icomoon';
  src: url('../../assets/Fonts/Icomoon/icomoon.eot');
  src: url('../../assets/Fonts/Icomoon/icomoon.eot#iefix') format('embedded-opentype'), url('../../assets/Fonts/Icomoon/icomoon.ttf') format('truetype'), url('../../assets/Fonts/Icomoon/icomoon.woff')
format('woff'), url('../../assets/Fonts/Icomoon/icomoon.svg#icomoon') format('svg');
}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    width: 100%;
    height: 100%;
  }

  body {
    background: #252525;
    margin: 0;
  }

  .header {
    font-family: "Mandali";
    font-size: 10px;
    color: black;
    width: 100%;
    overflow: hidden;
    margin-top: 25px;
  }

  .buscador {
    position: fixed;
    margin: auto;
    top: 46px;
    left: 0;
    right: 0;

    .search {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 60px;
      height: 60px;
      background: #2ddcaf;
      border-radius: 50%;
      transition: all 1s;
      z-index: 4;

      &:hover {
        cursor: pointer;
      }

      &::before {
        content: "";
        position: absolute;
        margin: auto;
        top: 22px;
        right: 0;
        bottom: 0;
        left: 22px;
        width: 12px;
        height: 2px;
        background: white;
        transform: rotate(45deg);
        transition: all .5s;
      }

      &::after {
        content: "";
        position: absolute;
        margin: auto;
        top: -5px;
        right: 0;
        bottom: 0;
        left: -5px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid white;
        transition: all .5s;
      }
    }

    input {
      font-family: "Mandali";
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 50px;
      height: 50px;
      outline: none;
      border: none;
      background: #fff;
      color: #2ddcaf;
      text-shadow: 0 0 10px #dbdadc;
      padding: 0 80px 0 20px;
      border-radius: 30px;
      transition: all 1s;
      opacity: 0;
      z-index: 5;
      letter-spacing: 0.1em;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        width: 300px;
        opacity: 1;
        font-size: 15px;
        cursor: text;
      }

      &:focus ~ .search {
        right: -250px;
        background: #151515;
        z-index: 6;

        &::before {
          top: 0;
          left: 0;
          width: 25px;
        }

        &::after {
          top: 0;
          left: 0;
          width: 25px;
          height: 2px;
          border: none;
          background: white;
          border-radius: 0%;
          transform: rotate(-45deg);
        }
      }

      &::placeholder {
        color: #2ddcaf;
        font-family: "Mandali";
        opacity: 0.5;
        font-size: 17px;
        top: 20px;
      }
    }
  }

  header {
    width: 100%;
    overflow: hidden;
    background-color: rgba(133, 133, 133, 0.2);
    box-shadow: 0 0 30px 0 rgba(136, 139, 136, 0.4);
    margin-bottom: 10px;
    height: 90px;
    margin-top: 10px;
  }

  .wrapper {
    width: 90%;
    margin: auto;
    overflow: hidden;
  }

  header .header {
    left: 10px;
    color: #2ddcaf;
    font-family: "Mandali";
    font-size: 5px;
    line-height: 20px;
  }

  header buscador div {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }

  .floatHeader {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    height: 90px;
    padding-top: 0px;
    z-index: 1000;
  }

  .floatHeader .header {
    line-height: 50px;
    font-size: 30px;
  }

  .floatHeader buscador {
    line-height: 100px;
  }

  @media screen and (max-width: 950px) {
    header .header,
    header nav {
      width: 100%;
      text-align: center;
      line-height: 100px;
    }

    .floatHeader {
      height: auto;
    }

    .floatHeader .header,
    .floatHeader nav {
      line-height: 50px;
    }
  }

  .resultados {
    font-family: "Mandali";
    font-size: 12px;
    text-align: center;
    margin-top: 45px;
  }

  .usuario {
    font-family: icomoon;
    position: fixed;
    width: 150px;
    height: 70px;
    right: 0px;
    top: 10px;
    color: rgba(255, 255, 255, 0.6);
    text-align: left;
    font-size: 40px;
    padding-top: 5px;
    padding-left: 20px;
    z-index: 100;

  }

  .usuario:hover {
    color: rgb(45, 220, 175);
  }

  .Singin {
    font-family: "Mandali";
    font-size: 17px;
    position: fixed;
    right: 85px;
    top: 60px;
    color: rgb(45, 220, 175);
    text-align: left;
    padding-top: 5px;
    padding-left: 20px;
    z-index: 100;

  }


</style>

