<template>
  <div class="sidenav">
    <div class="tp" @click="goHome()">{{$t('header.title')}}</div>
    <div class="floatingb"><span>&#xe900;</span></div>
    <div class="floatingc"><span>&#xe902;</span></div>
    <div class="floatingd"><span>&#xe90b;</span></div>
    <div class="floatinge"><span>&#xe901;</span></div>
  </div>
</template>

<script>

  export default {
    name: "Sidebar",
    methods: {
      goHome() {
        this.$router.push({name: 'home'});
      }
    },
  }
</script>

<style scoped>

  @import url('https://fonts.googleapis.com/css?family=Oswald');
  @import url('https://fonts.googleapis.com/css?family=Mandali');

  .sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .tp {
    left: -30px;
    position: fixed;
    bottom: 90px;
    font-family:Oswald;
    font-size: 155px;
    color: rgba(133, 133, 133, 0.65);
    height: 100%;
    text-align: start;
    writing-mode: vertical-lr;
    transform: rotate(180deg);

  }

  .floatingb {
    font-family: icomoon;
    position: fixed;
    width: 150px;
    height: 70px;
    bottom: 110px;
    right: 0px;
    background-color: rgba(133, 133, 133, 0.4);
    color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 10px 25px -5px rgba(84, 84, 84, 0.6);
    border-radius: 5%;
    text-align: left;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 20px;
    transition: all 0.2s;
    z-index: 4;
  }

  .floatingb:hover {
    color: rgb(45, 220, 175);
  }

  .floatingb span {
    cursor: pointer;
  / / display: inline-block;
    position: relative;
    transition: 0.3s;
  }

  .floatingb span:after {
    font-family: Mandali;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: 3px;
    right: -20px;
    transition: 0.3s;
  }

  .floatingb:hover span {
    padding-right: 25px;
  }

  .floatingb:hover span:after {
    opacity: 1;
    right: 0;
  }


  .floatingc {
    font-family: icomoon;
    position: fixed;
    width: 150px;
    height: 70px;
    bottom: 200px;
    right: 0px;
    background-color: rgba(133, 133, 133, 0.4);
    color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 10px 25px -5px rgba(84, 84, 84, 0.6);
    border-radius: 5%;
    text-align: left;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 20px;
    transition: all 0.2s;
    z-index: 4;
  }

  .floatingc:hover {
    color: rgb(45, 220, 175);
  }

  .floatingc span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }

  .floatingc span:after {
    font-family: Mandali;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
  }

  .floatingc:hover span {
    padding-right: 25px;
  }

  .floatingc:hover span:after {
    opacity: 1;
    right: 0;
  }


  .floatingd {
    font-family: icomoon;
    position: fixed;
    width: 150px;
    height: 70px;
    bottom: 290px;
    right: 0px;
    background-color: rgba(133, 133, 133, 0.4);
    color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 10px 25px -5px rgba(84, 84, 84, 0.6);
    border-radius: 5%;
    text-align: left;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 20px;
    transition: all 0.2s;
    z-index: 100;
  }

  .floatingd:hover {
    color: rgb(45, 220, 175);
  }

  .floatingd span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }

  .floatingd span:after {
    font-family: Mandali;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
  }

  .floatingd:hover span {
    padding-right: 25px;
  }

  .floatingd:hover span:after {
    opacity: 1;
    right: 0;
  }

  .floatinge {
    font-family: icomoon;
    position: fixed;
    width: 150px;
    height: 70px;
    bottom: 380px;
    right: 0px;
    background-color: rgba(133, 133, 133, 0.4);
    color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 10px 25px -5px rgba(84, 84, 84, 0.6);
    border-radius: 5%;
    text-align: left;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 20px;
    transition: all 0.2s;
    z-index: 100;
  }

  .floatinge:hover {
    color: rgb(45, 220, 175);
  }

  .floatinge span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;

  }

  .floatinge span:after {
    font-family: Mandali;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
  }

  .floatinge:hover span {
    padding-right: 25px;
  }

  .floatinge:hover span:after {
    opacity: 1;
    right: 0;
  }


</style>
