<template>
  <div>
    <div class="shrink">
      <img class="formatoimg" :src="imageItem" width="100" height="100"/>
    </div>
    <div class="textos-tpodcast">{{podcast['im:name'].label}}</div>
    <div class="textos-apodcast">{{$t('podcasts.author',{name:podcast['im:artist'].label})}}</div>
    <div class="ec-stars-wrapper">
      <a href="#" data-value="1" title="Votar con 1 estrellas">&#xe902;</a>
      <a href="#" data-value="2" title="Votar con 2 estrellas">&#xe902;</a>
      <a href="#" data-value="3" title="Votar con 3 estrellas">&#xe902;</a>
      <a href="#" data-value="4" title="Votar con 4 estrellas">&#xe902;</a>
      <a href="#" data-value="5" title="Votar con 5 estrellas">&#xe902;</a>
    </div>
  </div>


</template>

<script>
  export default {
    name: "podcast",
    props: ['podcast'],
    computed: {
      imageItem() {
        return this.$R.last(this.podcast['im:image']).label;
      },
    }
  }
</script>

<style lang="scss" scoped>

  @import url('https://fonts.googleapis.com/css?family=Mandali');

  .textos-tpodcast {
    font-size: 17px;
    margin-top: 10px;
    font-family: "Mandali";
    color: #2ddcaf;
    text-align: center;
    width: 100%;
    display: block;
  }

  .textos-apodcast {
    font-size: 12px;
    margin-top: 2px;
    font-family: "Mandali";
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    width: 100%;

  }

  .ec-stars-wrapper {
    font-family: icomoon;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 70px;
  }

  .ec-stars-wrapper a {
    text-decoration: none;
    display: inline-block;

    font-size: 30px;
    font-size: 13px;

    color: #888;
  }

  .ec-stars-wrapper:hover a {
    color: rgb(45, 220, 175);
  }

  .ec-stars-wrapper > a:hover ~ a {
    color: #888;
  }

  .formatoimg {
    height: 300px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 5%;
    background-size: 100% auto;
    margin: auto;
    display: block;
  }

  .shrink:hover {
    transform: scale(0.9);
    -ms-transform: scale(0.9); // IE 9
    -moz-transform: scale(0.9); // Firefox
    -webkit-transform: scale(0.9); // Safari and Chrome
    -o-transform: scale(0.9); // Opera
    -webkit-transition: all 500ms ease-in-out; // IE 9
    -moz-transition: all 500ms ease-in-out; // Firefox
    -ms-transition: all 500ms ease-in-out; // Safari and Chrome
    -o-transition: all 500ms ease-in-out; // Opera

  }

</style>
