<template>
  <div id="app">
    <v-header></v-header>
    <v-sidebar></v-sidebar>
    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>
    <v-footer></v-footer>

  </div>

</template>

<script>

  import Header from "./components/app/Header";
  import Footer from "./components/app/Footer";
  import Sidebar from "./components/app/Sidebar";

  export default {
    name: 'app',
    components: {
      'v-header': Header,
      'v-footer': Footer,
      'v-sidebar': Sidebar
    }
  }


</script>


<style lang="scss">
  @import url('https://fonts.googleapis.com/css?family=Mandali');

  body {
    background-image: url("assets/fondosc.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }

  #app {
    font-family: "Mandali";
    font-size: 5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: auto;
    text-align: left;
    color: #ffffff;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }
</style>
